@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish&family=Varela+Round&display=swap');

body{
    background-color: antiquewhite;
}

*{
    padding: 0;
    margin: 0;
}

nav{
    font-family: 'Mulish', sans-serif;
}

nav ul{
    display: flex ;
    align-items: center;
    list-style-type: none;
    height: 50px;
    background-color: black;
    color: white;
}

nav ul li{
    padding: 0 10px;
}

.brand img{
    width: 36px;
    padding: 0 8px;
}

.brand{
    align-items: center;
    display: flex;
    font-weight: bolder;
    font-size: 1.2rem;
}

.container{
    min-height: 58vh;
    background-color: black;
    color: white;
    font-family: 'Varela Round', sans-serif;
    display: flex;
    margin: 20px auto;
    width: 70%;
    border-radius: 12px;
    padding: 32px;
    background-image: url(images/bg2.jpg);
    background-size: 50pc;
}


.bottom{
    height: 100px;
    position: sticky;
    background-color: black;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
}

.icons{
    margin-top: 16px;
}

.icons i{
    cursor: pointer;
}

#myProgressBar{
    width: 80vw;
    text-align: center;
    cursor: pointer;
}

.songItemContainer{
    margin-top: 38px;
}

.songItem{
    height: 40px;
    display: flex;
    background-color: white; 
    /* width: 80%; */
    color: black;
    margin: 10px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 34px;
}

.songItem img{
    width: 45px;
    margin: 0 23px;
    border-radius: 15px;
}

.timeStamp{
    margin: 0 15px;
}

.timeStamp i{
    cursor: pointer;
}

.songInfo{
    position: absolute;
    left: 11vw;
    font-family: 'Varela Round', sans-serif;
}

.songInfo img{
    opacity: 0;
    transition: opacity 0.8s ease-in;
}